<div class="section decorate decorate-top color-<%= treecolour %>">
	<div class="inner">
		
		<textarea name="" cols="30" rows="10" placeholder="write a festive message on the star + hang it on our tree for a friend to find..." class="auto-select decorate-message star-message" class="f-regular"></textarea>

		<div class="g-recaptcha" data-sitekey="<%= captcha_key %>"></div>
	
		<a class="btn btn-progress decorate-form-submit">
			<img src="/static_assets/img/loader.gif" class="loader" alt="" />
			<span class="text">Hang your star</span>
		</a>

		<p class="font-regular">Please double check your message before you hang your star. our tree is made of good wishes + festive spirit. Any messages that could be deemed offensive will be taken down from our branches.</p>
	</div>
</div>