<div class="section enter enter-top">
	<div class="inner">
		<h2 class="f-bold">Enter your details</h2>
		<p class="f-regular">we'll be in touch if you + your friend win a year of free wagamama!</p>

		<a class="btn btn-progress enter-facebook-connect">
			<img src="/static_assets/img/loader.gif" class="loader" alt="" />
			<span class="text"><span class="icon-facebook"></span> Log in</span>
		</a>

		<form class="enter-form" novalidate>
			<div class="row">
				<input type="text" name="first_name" placeholder="First Name" class="text auto-select">
				<span class="error">Please enter your first name</span>
			</div>
			<div class="row">
				<input type="text" name="last_name" placeholder="Last Name" class="text">
				<span class="error">Please enter your last name</span>
			</div>
			<div class="row">
				<input type="email" name="email" placeholder="E-mail address" class="text">
				<span class="error">Please enter a valid email address</span>
			</div>

			<div class="row">
				<a class="btn btn-progress enter-form-submit">
					<img src="/static_assets/img/loader.gif" class="loader" alt="" />
					<span class="text">Submit</span>
				</a>
			</div>
		</form>
	</div>
</div>