<div class="section home home-top">
    <div class="inner">

    	<h1 class="f-bold">share your<span class="big">#wagamama<span class="f-red">star</span></span>
    	be part of the biggest virtual tree made entirely of good wishes! hang a star for your friend + you could both win free wagamama for a year!</h1>
 
		<p class="f-regular">we'll donate <span class="f-bold">£1</span> to <a href="http://ukyouth.org/" target="_blank" class="outbound-link">uk youth</a> for every star added. By entering this site, you're agreeing to our <a href="#terms/">terms + conditions</a></p>

		<a href="#enter/" class="btn f-bold">Create your star</a>
		
    </div>
</div>
