<div class="section share share-top">
	<div class="inner">
		<form>
			<p class="f-regular">you're now part of the biggest virtual tree made of good wishes!</p>
			<h2 class="f-bold">Send your friend a link to their #wagamama<span class="f-red">star</span> + you could both win free wagamama for a year!</h2>
			
			<div class="share-buttons">
				<a class="btn share-facebook-link">Facebook</a>
				<a href="#share/email" class="btn share-email-link">Email</a>
			</div>
			
		</form>
	</div>
</div>