<div class="section share-email share-email-top">
	<div class="inner">
		<h2 class="f-bold">Share your <span class="big">#wagamama<span class="f-red">star</span></h2>
		<form class="share-email-form">
			<div class="row">
				<input type="text" class="email-share-name" placeholder="Your friend's name">
				<span class="error">Please enter your friend's name</span>
			</div>
			<div class="row">
				<input type="email" class="email-share-address" placeholder="Your friend's email">
				<span class="error">Please enter a valid email address</span>
			</div>
			<div class="row">
				<a class="btn btn-progress email-share-button">
					<img src="/static_assets/img/loader.gif" class="loader" alt="" />
					<span class="text">Share</span>
				</a>
			</div>
		</form>
	</div>
</div>