<div class="section terms terms-top">
    <div class="inner">

        <h2 class="f-bold">Terms &amp; Conditions</h2>

        <p>#wagamamastar | Terms + Conditions for entrants</p>

        <p>1. The promoter of the '#wagamamastar' competition is wagamama Limited, 76 Wardour Street, London W1F 0UR (company number 02605751) ("we", "our").</p>

        <p>2. The Agent acting on behalf of the promoter is Elvis Communications Ltd (company number 04768344) 172 Drury Lane, London, WC2B 5QR.</p> 

        <p>3. The promotion is open to UK residents (excluding Northern Ireland) aged 16 or over, other than our employees, their families, our agencies or anyone
            else associated with the '#wagamamastar' campaign ("you", "your", "entrant").</p>

        <p>4. The promotion period is from 10.00 on 1st December 2015 until 23.59 on 23rd December 2015 (inclusive).</p>

        <p>5. A winner will be announced on 1<sup>st</sup> January 2016, the winner will be selected from all valid entries across the promotional period.</p>

        <p>6. The announced winning entries and the Agent's decision are final and not subject to any contestation or change.</p>

        <p>7. The winners will be notified via direct messaging (Facebook) or email on 1<sup>st</sup> January 2016.</p>

        <p>8. Entries received after the closing date will not be counted.</p>

        <p>9. Internet access required.</p>

        <p>10. To enter you must:</p>

        <p>&#8226; Create your #wagamamastar by writing your personalised message on the mobile site.</p>

        <p>&#8226; Submit your #wagamamastar message by sending it to your friend via Facebook or email.</p>

        <p>11. Prize: The winner of the '#wagamamastar' promotion will receive wagamama for them and a friend for a year to the value of seven hundred and twenty
            pounds (&#163;720), three hundred and sixty (&#163;360) per person. Each month the winner will receive 2 preloaded gift cards with thirty (&#163;30) pounds
            on each to spend within one month. The details and specification of the prize are at the discretion of the Agent and Promoter and will not be subject to
            any contestation or change.</p>

        <p>13. If no response to the notification of being selected as the winner is received within 5 days the Promoter reserves the right to award the prize to an
            alternative winner and still announce the original winner and use the submitted messages.</p>

        <p>14. The prize will be delivered to the winner each month by post.</p>

        <p>15. The winner's message will be uploaded onto our Facebook page: <a href="http://www.facebook.com/wagamama">www.facebook.com/wagamama</a></p>

        <p>16. You can enter the competition multiple times by uploading wagamama stars to our virtual tree. Please be aware that if you upload a message, you are
            uploading it onto a publicly available site and other users will be able to see your entry.</p>
        <p>18. Illegible and/or incomplete entries and entries submitted by entrants who do not meet the eligibility requirements are void.</p>

        <p>19. By entering you agree that (i) your name and likeness may be used by us for advertising and publicity purposes, and (ii) your friend's name and
            likeness may be used by us for advertising and publicity purposes and that you have the consent of your friend's legal guardian, if the friend is under the
            age of 16 years, to enter their details as part of this competition.</p>

        <p>20. We comply with the standard procedures laid down in the UK Data Protection Act to ensure that the personal information you give us is kept secure and
            processed fairly and lawfully. We will not share your information with third parties for marketing purposes. For further details please see our online
            privacy policy at: <a href="http://www.wagamama.com/policies/privacy-statement">http://www.wagamama.com/policies/privacy-statement</a></p>

        <p>21. You grant to us a non-exclusive, royalty-free, transferable, sub licensable, worldwide license to use, display, reproduce, modify, re-arrange, and
            distribute any text or materials uploaded by you onto our site for the purposes of determining a winner for the competition, this will also include our use
            of your entry on Facebook.</p>

        <p>22. You agree that any message you submit does not violate any law or infringe the rights of any third party, including without limitation, any
            intellectual property rights. Messages that could be deemed offensive in any way will not be accepted and will be removed from the site.</p>

        <p>23. We reserve the right to remove any message that you upload through our website for any reason including any uploads that violate these terms and
            conditions.</p>

        <p>24. For every entry uploaded, wagamama will donate &#163;1 to UK Youth. This is up to a maximum donation value of ten thousand pounds (&#163;10,000).</p>

        <p>25. We do not accept responsibility for (i) lost entries or network, computer, hardware or software failures of any kind, which may restrict or delay the
            sending or receipt of your entry, (ii) any postponement or cancellation of the competition, (iii) any loss or, changes to, postponement of or use of the
            prize, and (iv) any act or default of any third party supplier, which is beyond our reasonable control.</p>

        <p>26. The prize is non transferable, non refundable and non negotiable. There is no cash alternative.</p>

        <p>27. By entering this promotion, you agree to be bound by these terms and that our decision is final and binding in all matters relating to this promotion.</p>

        <p>28. We reserve the right in our sole discretion to (i) alter, amend or close this promotion, without prior notice at any time, (ii) refuse any individual's
            entry, (iii) amend these terms and conditions (and we will use reasonable endeavours to notify changes to entrants and potential entrants) or (iv)
            disqualify any individual we find to be tampering with the entry process or to be acting in violation of the terms and conditions or in an unsportsmanlike
            or disruptive manner. Any attempt by any person to undermine the legitimate operation of the competition may be a violation of criminal and civil law.
            Failure by us to enforce any term of the terms and conditions will not constitute a waiver of that provision.</p>

        <p>29. The winner's name will be available by sending a self-addressed envelope to '#wagamamastar competition', Elvis Communications, 172 Drury Lane, London, WC2B 5QR.</p>

        <p>30. This promotion is governed by the laws of England and Wales and you submit to the exclusive jurisdiction of the English courts in relation to any dispute arising hereunder.</p>

    </div>
</div>